{:paths ["src/clj"]
 :deps {org.clojure/clojure         {:mvn/version "1.11.3"}}
 :aliases {
           :test {:extra-deps {speclj/speclj {:mvn/version "3.4.3"}}
                  :extra-paths ["spec/clj"]}
           :spec {:main-opts ["-m" "speclj.main" "-c"]}
           :start {:main-opts ["-m" "aoc.main"]}
           }}